{# templates/fragments/pied_de_page.html.twig #}
<footer id="contact" class="pied_de_page" aria-label="Pied de page">
  <div class="conteneur">
    <div class="pied_contenu">

      <div class="pied_contact">
        Contact : <a href="mailto:contact@ecoride.fr">contact@ecoride.fr</a>
      </div>

      <div class="pied_licence">
        © 2026 EcoRide
      </div>

      <div class="pied_mentions">
        <a href="#">Mentions légales</a>
      </div>

    </div>
  </div>
</footer>
