APP_ENV=prod
APP_DEBUG=0
APP_SECRET=remplacer_par_un_secret_long_et_unique
APP_TIMEZONE=Europe/Paris
DEFAULT_URI=https://www.example.com

POSTGRES_DB=nom_base
POSTGRES_USER=utilisateur_base
POSTGRES_PASSWORD=mot_de_passe_base
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
DATABASE_URL=pgsql://utilisateur_base:mot_de_passe_base@postgresql:5432/nom_base

MONGO_URI=mongodb://mongodb:27017
MONGO_DB=nom_base_mongodb
MONGO_COLLECTION=journal_evenements

MAILER_DSN=smtp://serveur_smtp:587
COURRIEL_EXPEDITEUR=nepasrepondre@example.com

UID=1000
GID=1000
