###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/.env.docker
/.env.prod
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Sauvegardes
*.bak

# Outils locaux
.php-cs-fixer.cache
.vscode/
home.lnk

# Documentation générée localement
.phpdoc/
docs/api/

# Fichiers de référence générés
config/reference.php
docs/gestion_projet/routes_et_controleurs.txt

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
