###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Sauvegardes
*.bak

# Outils locaux
.php-cs-fixer.cache
.vscode/

# Documentation générée localement
.phpdoc/

# Fichiers de référence générés
config/reference.php
docs/gestion_projet/routes_et_controleurs.txt
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
