###> symfony/framework-bundle ###
.env
.env .dev
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Sauvegardes
*.bak

# Outils locaux (à ne pas versionner)
.php-cs-fixer.cache
.vscode/

# Fichiers d'environnement (prod)
.env.prod

# Environnement production (local uniquement)
.env.prod

# Fichiers d'environnement (local)
.env.dev
.env.prod
.env.docker

# Fichiers de référence générés (bruit)
config/reference.php
