{% extends 'base.html.twig' %}
{% block title %}EcoRide – Connexion{% endblock %}
{% block body %}
<main class="page">
  <h1>Connexion</h1>
  <p>Page en cours de construction (formulaire de connexion).</p>
</main>
{% endblock %}
