parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: "../src/"
        exclude:
            - "../src/DependencyInjection/"
            - "../src/Kernel.php"

    App\Service\JournalEvenements:
        arguments:
            $mongoUri: "%env(MONGO_URI)%"
            $nomBase: "%env(MONGO_DB)%"
