<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}EcoRide{% endblock %}</title>

<link rel="stylesheet" href="{{ asset('css/global.css') }}">
<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% block stylesheets %}{% endblock %}

</head>

<body>

  {# Par défaut : header public. Une page pourra le remplacer #}
  {% block entete %}
    {% include 'fragments/entete_public.html.twig' %}
  {% endblock %}

  {% block body %}{% endblock %}

  {# Par défaut : pied de page commun #}
  {% block pied_de_page %}
    {% include 'fragments/pied_de_page.html.twig' %}
  {% endblock %}

  {# JS commun menu mobile #}
  <script src="{{ asset('js/menu_navigation.js') }}"></script>

  {% block javascripts %}{% endblock %}
</body>
</html>


