<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}EcoRide{% endblock %}</title>
  <link rel="stylesheet" href="{{ asset('css/global.css') }}">
  {% block stylesheets %}{% endblock %}

<!-- Police --!>



</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
