{% extends 'base.html.twig' %}
{% block title %}EcoRide – Recherche{% endblock %}
{% block body %}
<main class="page">
  <h1>Recherche</h1>
  <p>Page en cours de construction (filtres + résultats).</p>
</main>
{% endblock %}
